.let{
background-image: url(/images/AfricanHairBraiding.jpg);
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
}
#air{
border-radius: 743px;
height: 3cm;
}
#An{
background-image: url(/images/medicure.gif);
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
}

.hint{
background-image: url(/images/hairstyler.jpg);
background-attachment: fixed;
background-size: cover;
}
p{
color: yellow;
}

i{
color:
font-size:15px;
font-family: cursive;

}

h1{
color:white;
}
li{
color:cyan;
}

#rocket{
background-image: url(/images/pumpkin.gif);
}
#rot{
background-image: url(/images/pumpkin.gif);
}
#rock{
background-image: url(/images/pumpkin.gif);
}