<h1>Book For The Client</h1>

<p>Place the client here:</p>

<img src=" ">

<form action="/clients" method="post">
    <label for="name">Client name</label>
    <input id="name" name="name" type="text">

    <button type="submit" class="btn btn-success">Book For The Client</button>
</form>
