<h1>$client.getName() stylists:</h1>
<img src="/images/Kundaga and Ragina.jpg" id="air">

<ol>
    #foreach($stylist in $client.getStylists())
    <li><a href="/clients/$client.getId()/stylists/$stylist.getId()">$stylist.getDescription()</a></li>
    #end
</ol>

<a href="/clients/$client.getId()/stylists/new">Add another client</a>
<a href="/clients">All of Your Clients</a>
