<h1>Stylists List</h1>

#if ($stylists)
<ul>
    #foreach ($stylist in $stylists)
    <li><a href="/stylists/$stylist.getId()">$stylist.getDescription()</a></li>
    #end
</ul>
#else
<p>No Clients!</p>
#end

<a href="/stylists/new">Add New Clients</a>
