<p>Add a new Client:</p>

<form action="/stylists" method="post">
    <label for="description">Clients Style</label>
    <input id="description" name="description" type="text">

    <button type="submit" class="btn btn-default">Add Client</button>
</form>